body {
    background-color: #fffffff5;
    }
    .sudoku-cell{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;

        width: 280px;
        height: 280px;
        border: 10px solid rgb(251, 125, 0);
        border-radius: 10px;

        text-align: center;  
        align-items: center;
        justify-items: center; 
    }

    .sudoku-cell-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;

       
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-6{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-7{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-8{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }
    .sudoku-cell-9{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        
        width: 84px;
        height: 84px;
        border: 7px solid orange;
        border-radius: 10px;
        text-align: center;  
        align-items: center;
        justify-items: center; 
    }

    .sudoku-cell-small-1{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
            
            
        }   
    .sudoku-cell-small-2{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-3{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-4{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-5{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-6{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-7{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-8{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
    .sudoku-cell-small-9{
            border-radius: 5px;
            height: 24px;
            width: 24px;
            border: 2px solid rgb(125, 170, 1);
            text-align: center;  
            line-height: 24px;
            color: rgba(5, 5, 255, 0.703);
            text-shadow: aqua 1px 1px 1px;
        }  
        
    .sudoku-cell-input{
        border-radius: 5px;
        height: 22px;
        width: 22px;
        border: none;
        text-align: center;
        line-height: 22px;
        color: rgba(5, 5, 255, 0.703);
        text-shadow: rgb(255, 0, 0) 1px 1px 1px;

        }
button{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: rgb(251, 125, 0);
    color: aqua;
    text-align: center;
    line-height: 150px;

    }
span{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
   
    